// Navigation code here
.navigation{
  .display(column, center, center);
    width:100%;

    div{
        width: 100%;

        nav{
            .display(row, space-between, baseline);
            

            a{
                // margin: 5%;
                color: @ebony-clay;
                text-decoration: none;
            }//this closes a
        }//this closes nav
    }//this closes the div
}//this closes navigation class